# 한국행정구역 - 행정동과 법정동

행정동과 법정동 코드 파일 사용 방법

In [5]:
import pandas as pd

fname = 'unitarea_code.xls'
df = pd.read_excel(fname, skiprows=1, dtype={'대분류':str, '중분류':str, '소분류':str})
#df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

   시도코드   시도명칭  시군구코드 시군구명칭    읍면동코드 읍면동명칭
0    11  서울특별시  11010   종로구  1101053   사직동
1    11  서울특별시  11010   종로구  1101054   삼청동
2    11  서울특별시  11010   종로구  1101055   부암동
3    11  서울특별시  11010   종로구  1101056   평창동
4    11  서울특별시  11010   종로구  1101057   무악동

In [3]:
import pandas as pd

url = "http://sgis.kostat.go.kr/OpenAPI2/upload/unitarea_code.xls"
df = pd.read_excel(url, skiprows=1)
df.head()

   시도코드   시도명칭  시군구코드 시군구명칭    읍면동코드 읍면동명칭
0    11  서울특별시  11010   종로구  1101053   사직동
1    11  서울특별시  11010   종로구  1101054   삼청동
2    11  서울특별시  11010   종로구  1101055   부암동
3    11  서울특별시  11010   종로구  1101056   평창동
4    11  서울특별시  11010   종로구  1101057   무악동

##  법정동 코드

    "법정동코드 전체자료.zip" 라는 이름으로 다운로드 할 수 있으며, .txt 파일을 포함하고 있다.

    이 .txt 파일을 다음 URL에 공유하였다.

    https://goo.gl/tM6r3v
    
    
    단위는 "시/도", "시/군/구", "읍/면/동", "리" 각 2자리로 구성되어 있다. (총 8자리)

In [6]:
df_areacode = pd.read_csv('https://goo.gl/tM6r3v', sep='\t', dtype={'법정동코드':str})
df_areacode.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [8]:
df_areacode = df_areacode[df_areacode['폐지여부'] == '존재']
df_areacode.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

## 시/도만 추출하기

지역 구분이 총 4개 레벨("시/도", "시/군/구", "읍/면/동", "리")

이중에서 '시/도' 추출하고자 한다면, 총 8자리 숫자중 뒤쪽 6자리가 모두 '0'인 행(row)를 추출하는 방법을 사용할 수 있다.

In [9]:
# '\d{2}0{8}' : 임의정수 2개, 숫자 0이 8개
# 3611000000 : 세종특별자치시

df_province = df_areacode[ df_areacode['법정동코드'].str.contains('\d{2}0{8}|36110{6}')]
df_province

            법정동코드     법정동명 폐지여부
0      1100000000    서울특별시   존재
2615   2600000000    부산광역시   존재
2912   2700000000    대구광역시   존재
3244   2800000000    인천광역시   존재
3579   2900000000    광주광역시   존재
3825   3000000000    대전광역시   존재
4009   3100000000    울산광역시   존재
4241   3611000000  세종특별자치시   존재
4391   4100000000      경기도   존재
10867  4200000000      강원도   존재
13666  4300000000     충청북도   존재
16797  4400000000     충청남도   존재
22050  4500000000     전라북도   존재
25397  4600000000     전라남도   존재
30169  4700000000     경상북도   존재
39299  4800000000     경상남도   존재
45741  5000000000  제주특별자치도   존재